[ {myservice,
   [{aoc_session_cookie_file, "/home/jespereskilson/.adventofcode.session"}
   ]},

  {kernel,
   [{logger_level, info},
    {logger_metadata, #{domain => [myservice]}},
    {logger,
     [{handler, default, logger_std_h,
       #{level => info,
         filters => [{no_progress, {fun logger_filters:progress/2, stop}}],
         config => #{file => "myservice.log"}}}
     ]}
   ]}
].
