{erl_opts, [debug_info]}.
{deps, []}.

{shell,
 [{apps, [timer_switch]},
  {config, "config/sys.config"}
 ]}.

{relx, [{release, {timer_switch, "0.1.0"},
         [ timer_switch
         , sasl
           %%, observer
           %%, wx
           %%, runtime_tools
         ]},
        {sys_config, "config/sys.config"}]}.

{profiles, [{prod, [{relx,
                     [{mode, prod}
                     ]
                    }]}]}.
