{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [timer_switch]}
]}.

{relx, [{release, {timer_switch, "0.1.0"},
         [ timer_switch
         , sasl
           %%, observer
           %%, wx
           %%, runtime_tools
         ]}
]}.

{profiles, [{prod, [{relx,
                     [{mode, prod}
                     ]
                    }]}]}.
